{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/friend.css' %}" />
<section name="input-friend" id="input-friend">
    <h2><b>Tambahkan Teman</b> <i class="fa fa-user-plus" aria-hidden="true"></i></h2><br>
    <form action="{% url 'friend:add-friend' %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {%if 'name' in errors %} has-error {% endif %}">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" placeholder="Albertus" name="name" maxlength="255" aria-describedby="helpBlockName" required id="id_name" >
            </div>
            {% if 'name' in errors %}
            {% for error in errors.name %}
            <div class="col-sm-10 col-sm-offset-2">
                <span id="helpBlockName" class="help-block">{{ error.message }}</span>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group {%if 'profile_url' in errors %} has-error {% endif %}">
            <label class="col-sm-2 control-label">Profile URL</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" placeholder="http://example.com" name="profile_url" maxlength="255" aria-describedby="helpBlockProfile" required id="id_profile_url" >
            </div>
            {% if 'profile_url' in errors %}
            {% for error in errors.profile_url %}
            <div class="col-sm-10 col-sm-offset-2">
                <span id="helpBlockProfile" class="help-block">{{ error.message }}</span>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group {%if 'photo_url' in errors %} has-error {% endif %}">
            <label class="col-sm-2 control-label">Photo URL</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" placeholder="Optional" name="photo_url" maxlength="255" aria-describedby="helpBlockPhoto" id="id_profile_url" >
            </div>
            {% if 'photo' in errors %}
            {% for error in errors.photo %}
            <div class="col-sm-10 col-sm-offset-2">
                <span id="helpBlockPhoto" class="help-block">{{ error.message }}</span>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="form-group submit-container">
            <div class="col-sm-12">
                <input class="btn btn-primary btn-lg round" id="submit" type="submit" value="Tambah" id="id_submit">
            </div>
        </div>
    </form>
</section>

<section name="list-friend" id="list-friend">
    <h2><b>Daftar Teman </b><i class="fa fa-address-card-o" aria-hidden="true"></i></h2>
    <div class="card-list">
        {% for friend in friends %}
        <div class="card-container">
            <div class="card">
                <img width=100 height=100 class="profile-picture" src="{{ friend.photo_url }}" width=/>
                <div class="card-details">
                    <p>{{ friend.name }}</p>
                    <p>{{ friend.date_created|date:"d M Y H:i:s" }}</p>
                    <p><a href="{{ friend.profile_url }}">Profil</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

