{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}" />
<section>
	<div class="container2">
		<h1 style="margin-left: 20px"><b>Profile <i class="fa fa-user-circle-o" aria-hidden="true"></i></b></h1>
		<center>
			<img class="circular--square" src="{{profile.photo_url}}" height="250" width="250" style="margin-bottom: 20px;">
		</center>
		<center>
			<p><b><font size="6">{{profile.name}} </font></b></p>
		</center>
	</div>
</section>
<section name="data-profile" id="data-profile">
    <div >
			<table align="center">
				<tr> <td><b>Birthday</b></td> <td>{{profile.birthday}}</td> </tr>
				<tr> <td><b>Gender</b></td> <td>{{profile.gender}}</td> </tr>
				<tr> <td><b>Expertise</b></td> <td>{% for expertise in expertises %} <span class="label label-default">{{ expertise.name }}</span>  {% endfor %}</td> </tr>
				<tr> <td><b>Description</b></td> <td>{{profile.description}}</td> </tr>
				<tr> <td><b>Email</b></td> <td>{{profile.email}}</td> </tr>
			</table>
    </div>
</section>
{% endblock %}