<style>
ul.nav a:hover { color: #fff !important; }

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

}
</style>
<nav class="shift navbar bg-default scrolling-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'status:index' %}"><img src="https://preview.ibb.co/nqk6RG/Tugas_Satu_Asik.png" alt="Tugas_Satu_Asik" border="0" height="40px" height="auto"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav shift">
        <li><a href="{% url 'status:index' %}"><i class="fa fa-comment-o" aria-hidden="true"></i> Status</a></li>
        <li><a href="{% url 'profile:index' %}"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a> </li>
        <li><a href="{% url 'friend:index' %}"><i class="fa fa-address-book-o" aria-hidden="true"></i> Friends</a> </li>
        <li><a href="{% url 'stats:index' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</a> </li>
      </ul>
    </div>
  </div>
</nav>

<script>
	$('#navbar li').click(function() {
    $(this).addClass('active').siblings('li').removeClass('active');
});
</script>
