 {% extends "layout/base.html" %}
 {% load static %}
 {% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

 <section name="input-status" id="input-status">
   <div class="container2">
     {% if messages %}
     <ul id="myAlert" class="alert alert-success animated zoomIn" role="alert">
        {% for message in messages %}
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'status:add-status' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <label style="font-size: 30px">Update Status <i class="fa fa-comment-o" aria-hidden="true"></i></label>
            <textarea id="text-content" type="text" class="form-control" name="status" rows="4" placeholder="Enter status here" onKeyup="count_remaining_character()" data-emojiable="true"></textarea>
            <div id="character-count" align="right">350</div>
            <input class="btn btn-primary btn-lg round" id="submit" type="submit" value="Post" id="id_submit">
        </div>
    </form>
</div>
</section>




<section name="my-list" id="my-list">
    <div class="container2">
       <div class="flex">
        {% for data in status %}
        {% if messages and forloop.first %}
        <div class="flex-item animated fadeInDown">
            {% else %}
            <div class="flex-item">
                {% endif %}
                <div class="list-status">
                    <div class="list-status-photo-status">
                        <img class = "img-circle" id="status-photo" src="{{data.user.photo_url}}" style="width:50px;">
                        <b id="status-name"> {{data.user.name}} </b>
                    </div>
                    <div class="list-status-status">
                        {{data.status|linebreaksbr}}
                    </div>
                    <div class="list-status-date">
                        {{data.date_created | date:"d M Y H:i:s"}}
                    </div>
                </div>
            </div>

            {% endfor %}
            <div align="center">
                <div class="pagination">
                    <li >
                        {% if status.has_previous %}
                        <a href="?page={{ status.previous_page_number }}" >previous</a>
                        {% endif %}
                    </li>
                    <li >
                        {% if status.has_next %}
                        <a href="?page={{ status.next_page_number }}" >next</a>
                        {% endif %}
                    </li>
                </div>
                <div class="current" align="center">
                    Page {{ status.number }} of {{ status.paginator.num_pages }}
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<script type="application/javascript">
function count_remaining_character() {
    var max_length = 350;
    var character_entered = $('#text-content').val().length;
    var character_remaining = max_length - character_entered;
    $('#character-count').html(character_remaining);
    if(max_length < character_entered) {
        $('#character-count').css('color','#FF0000');
    } else {
        $('#character-count').css('color','#A0A0A0');
    }
}
</script>



{% endblock %}        
