.card-list {
  display: flex;
  flex-wrap: wrap;
}
.card-container {
  padding: 5px;
  justify-content: space-between;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}
.card {
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  flex-grow: 0;
  padding-top: 10px;
  height: 215px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  background: white;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  word-wrap: break-word;
}
.profile-picture {
  border-radius: 10%;
}
section {
  width: 80%;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 30px;
}

.table-block {
  display: block;
}

.submit-container {
  text-align: right;
}

.round {
  border-radius: 24px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .card-container{
    flex-basis: 100%;
  }
}