{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/statistic.css' %}" />

<section id = "statssec">
<h1><b>Statistic </b><i class="fa fa-bar-chart" aria-hidden="true"></i></h1>

<div class="identity">
    <img class="img-circle profile-pic" src="{{ author.photo_url }}"/>
    <h3 class="profile-name"><b>{{ author.name }}</b></h3>
</div>

<section name="stats" id="stats">
    <div class="contain-numbers">
        <div class="container friends">
            <div class="stats" id="friends-stat">
                <strong>Friends</strong> <i class="fa fa-users" aria-hidden="true"></i><br> {{ friends }} People
            </div>
        </div>
        <div class="container feeds">
            <div class="stats" id="feeds-stat">
                <strong>Feed</strong> <i class="fa fa-rss" aria-hidden="true"></i><br> {{ feed }} Post
            </div>
        </div>
    </div>
</section>
</section>

<section name="latest-post" id="latest-post">
    <div class="last-post-head"><strong>What did {{ author.name }} last say?</strong></div>

    {% if feed %}
    <div class="container" id="last-post">
        <div class="identity post-identity">
            <img class="img-circle post-pic" src="{{ author.photo_url }}"/>
            <p class="post-name" ><strong>{{ author.name }}</strong></p>
        </div>
        <div class="post-status">
            {{ latest_post.status |linebreaksbr }}
        </div>
        <div class="post-date">
            {{ latest_post.date_created }}
        </div>
    </div>
    {% else %}
    <div class="no-posts">
        <p>{{author.name }} hasn't posted anything yet :(</p>
        <p>Go on and <a href=""><strong>post something!</strong></a></p>
    </div>
    {% endif %}
</section>

{% endblock %}
