h1 {
  margin-left: 13rem;
  margin-bottom: 10rem;
}

#statssec {
  width: 90%;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px;

}
.profile-pic {
  max-width: 22rem;
  max-height: 22rem;
  display: block;
  margin: auto;
  overflow: hidden;
}

.profile-name {
  margin-top: 22px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 6rem;
}

.post-pic {
  height: 10rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.contain-numbers {
  display: flex;
  align-items: baseline;
}

.friends, .feeds {
  font-size: 25px;
  text-align: center;
  width: 30%;
}

#feeds-stat, #friends-stat {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.stats {
  padding: 2.5rem;
}

.last-post-head {
  font-size: 36px;
  margin: 9rem 0;
  text-align: center;
}

#last-post {
  border: 0 none;
	border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
  background-color: white;
  width: 90%;
	margin: 20px auto;
}

.post-identity {
  display: flex;
}

.post-name {
  margin-left: 2rem;
	font-size: 36px;
  line-height: 10rem;
}

.post-date {
  margin-top: 14px;
	color: grey;
	font-size: 2rem;
}

.post-status {
  margin: 2rem 0;
  font-size: 2rem;
}

.no-posts {
  text-align: center;
  font-size: 3rem;
  width: 78%;
  margin-bottom: 8rem;
  border: 0 none;
	border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
	margin: 20px auto;
	box-sizing: border-box;
	word-wrap: break-word;
  background-color: #ffff7c;
}

.no-posts a {
  color: inherit;
}

.no-posts a:hover {
  color: red;
}

@media only screen and (max-width: 560) {
  .friends, .feeds, .no-posts {
    font-size: 80%;
  }
}
